.square {
	width: 200px;
	height: 200px;
}

.orange {
	background-color: #ea8418;
}

.orangetwo {
	background-color: #ea8418;
	margin-top: -190px;
	margin-left: 10px;
}

.blue {
	background-color: #4b7fe8;
	margin-top: -205px;
	margin-left: 5px;
}

.rectangle {
	width: 200px;
	height: 70px;
	background-color: #fed100;
	margin-top: -135px;
	margin-left: 5px;
}