.blue {
	background-color: #5256af;
	width: 300px;
	height: 500px;
}

#bluetwo {
	margin-top: 20px;
}

.green {
	background-color: #24f6a3;
	width: 280px;
	height: 480px;
	margin-top: -1010px;
	margin-left: 140px;
}

.yellow {
	background-color: #fed100;
	width: 280px;
	height: 210px;
	margin-top: 40px;
	margin-left: 10px;
}



.sone {
	background-color: #a94319;
	width: 50px;
	height: 50px;
	margin-top: -205px;
	margin-left: 15px;
}

.stwo {
	background-color: #a94319;
	width: 50px;
	height: 50px;
	margin-top: -55px;
	margin-left: 80px;
}

.sthree {
	background-color: #a94319;
	width: 50px;
	height: 50px;
	margin-top: -45px;
	margin-left: 145px;
}

.sfour {
	background-color: #a94319;
	width: 50px;
	height: 50px;
	margin-top: 15px;
	margin-left: 15px;
}

.sfive {
	background-color: #a94319;
	width: 50px;
	height: 50px;
	margin-top: -50px;
	margin-left: 80px;
}

.ssix {
	background-color: #a94319;
	width: 50px;
	height: 50px;
	margin-top: -50px;
	margin-left: 145px;
}