.box {
	width: 350px;
	height: 100px;
	background-color: #4b7fe8;
	margin-left: 100px;
}

#two {
	position: relative;
	top: 5px;
	left: -100px;
}

#three {
	position: relative;
	top: 10px;
}

#four {
	position: relative;
	top: 15px;
	left: -100px;
}

#five {
	position: relative;
	top: 20px;
}